# Archivos de compilación de Java y Maven
/target/
*.class
*.jar
*.war
*.ear

# Configuración de Maven Wrapper
/.mvn/wrapper/maven-wrapper.jar

# Logs
*.log
logs/

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Configuración de IDEs
# Eclipse/STS
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/